:root {
	--mainFont: rgba(64, 64, 64, 0.75);
	--mainColor: whitesmoke;
	--swiper-navigation-size: 15px;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: var(--mainFont);
	padding: 1rem;
	border-radius: 50rem;
	color: var(--mainColor);
	font-size: var(--swiper-navigation-size);
}
.swiper-pagination-bullet-active {
	background-color: var(--mainColor);
}
